<a href="https://colab.research.google.com/github/khanzjob/uguntu/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Use range(10) to go from 0 to 9
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
#Use range(10, 100, 5) to start from 10 and move with increments of 5

for i in range(10,100,5):
  print(i)

  #Use range(7, 44, 7) to start from 7 and move with increments of 7

  # for x in range(7,44,7):
  # print(x)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [35]:
#Breaking out from the loop with break:
for x in range(10):
   if x <= 5:
        continue
   print(x)

6
7
8
9

In [45]:
#Breaking out from the loop with continue:
for x in range(20):
   if x <= 16:
         continue
   print(x)

17
18
19

In [49]:
#While loop: run while the condition is True
cnt = 0
while cnt <= 5:
  print(cnt)
  cnt = cnt + 1

0
1
2
3
4
5

In [60]:
x = 10
while x >= 3:
    print(x)
    x -=1

10
9
8
7
6
5
4
3

In [77]:
#Write a Python program using a while loop that calculates the sum of all even numbers from 1 to 100. Print the sum after the loop finishes.

for x in range(1,100):
  #if x % 2 == 0:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [82]:
# prompt: c = a.append(33)
# a[3]=c
# print(a)

a = [1, 2, 3]
c = a.append(33)
a[3] = c
print(a)

6

In [84]:
#changing numbers in a list
a[4] = -1
print(a)

[1, 2, 3, 4, -1, 6, 0]

In [93]:
#Appending numbers in the list
a.append(11)
print(a)

[1, 2, 3, None, -1, 6, 0, 11, 11, 33, 33, 33, 11]

In [100]:
#iterating through the list
a=[1,2,3,4]
print("the length of number is " + str(len(a)))
for i in a:
  print(i)

the length of number is 4
1
2
3
4

In [102]:
#combining lists
list1 = [1, 2, 3, 5]
list2 = [7, 11, 13, 17]
list3 = [19, 23, 27, 29]

lists = [list1,list2,list3]

print(lists[2])

[19, 23, 27, 29]

# Using loop to combine the **lists** **bold text**

In [103]:
for z in lists:
  print(z)

[1, 2, 3, 5]
[7, 11, 13, 17]
[19, 23, 27, 29]

# turples

In [106]:
t = (1,2,3)
#print(t)
#you cant change them... maybe doing it this way
t =  t +(12,)
print(t)

(1, 2, 3, 12)

# sets

In [113]:
#unordered elements without duplicates

s = {1,4,4,6,7}
#print(s)

#checking if 5 is in the set
print(4 in s)

#adding elements in a set
s.add(23)
print(s)

for i in s:
  print(i)

True
{1, 4, 6, 7, 23}
1
4
6
7
23

# Dictionaries

In [124]:
#Dictionationaries map keys to numbers

dict= {
    "joel":22,
    "john":12
}


#Accessing the value by its key
print(dict["joel"])
print(dict["john"])

#to check if the key is in the dictionary

if 'joel' in dict:
  print("joel is in the dictionary as "+ str(dict["joel"]))
else:
  print("null")

22
12
joel is in the dictionary as 22

# List comprehensions

In [128]:
li = [2,3,4,5,6,7]
li.sort()
print(li)

[2, 3, 4, 5, 6, 7]

In [138]:
#Suppose we want to create another list
#where all the elements of the original list are squared. For that we can use a for loop:
sq = []
for i in li:
  q = i*i
  sq.append(q)
  print(q)

4
9
16
25
36
49

# Organizing your code
# FUNCTIONS

In [152]:
max =10
def maximum_no(max):
  for i in range(max +1):
    print(i)

maximum_no(10)

0
1
2
3
4
5
6
7
8
9
10